/* Home.css */

.home-page {
    background-color: #f8f9fa;
    min-height: 100vh;
    background-image: url('https://img.freepik.com/free-photo/close-up-grass_23-2147904676.jpg?size=626&ext=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.home-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* White background with 60% opacity */
}

.home-container {
    position: relative; /* Ensure content is above the background */
    z-index: 1; /* Ensure content is above the background */
    margin-top: 10px; /* Reduced margin-top to decrease distance */
    margin-bottom: 20px;
}

.img-fluid {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.button-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.button-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.button-success {
    background-color: #28a745;
    border-color: #28a745;
}

.button-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
